<div class="container">
    <div>
      <h2 class="heading">Sign Up</h2>
    </div>
    <form [formGroup]="loginFormGroup">
      <div class="form-group">
        <label for="username">Email address</label>
        <input type="username" class="form-control" id="username" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small *ngIf="loginFormGroup.controls['username'].touched && 
        loginFormGroup.controls['username'].invalid" id="usernameError" class="text-danger">Username is required!</small>
      </div>
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <small *ngIf="loginFormGroup.controls['password'].touched && 
        loginFormGroup.controls['password'].invalid" id="usernameError" class="text-danger">Password is required!</small>
      </div>
      <div class="text-center mt-5">
        <button type="submit" class="btn btn-primary text-center">Submit</button>
      </div>
    </form>
  </div>